<ion-header>
  <ion-navbar color="primary">
    <ion-title>Weather</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Search Form -->
<ion-content padding>
  <ion-row class="weather-search">
    <form [formGroup]="searchForm" (ngSubmit)="getConditions($event)">
      <ion-item>
        <ion-input formControlName="state" type="text" id="state" placeholder="State" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="city" type="text" id="city" placeholder="City" required></ion-input>
      </ion-item>
      <button full ion-button icon-right type="submit">
        Search City
        <ion-icon name="search"></ion-icon>
      </button>
    </form>
  </ion-row>

  <!-- Observed Results -->
  <ion-card *ngIf="keys">
    <ion-card-header *ngIf="currentLocation">
      <ion-item>
        <img class="weather-icon" alt={{weather.current_observation.icon}} src={{weather.current_observation.icon_url}}/>
        {{weather.location.city}}, {{weather.location.state}}
      </ion-item>
    </ion-card-header>

    <ion-card-content *ngIf="currentWeather">
      <ion-row>
        <ion-col>
          <ion-item >
            <ion-icon name="thermometer" item-left></ion-icon>
            {{weather.current_observation.temp_f}}
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon alt="precipitation" name="md-beaker" item-left></ion-icon>
            {{weather.current_observation.precip_today_in}}
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon alt="elevation" name="md-image" item-left></ion-icon>
            {{weather.current_observation.observation_location.elevation}}
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <img class="wind" alt="wind" src="../assets/icon/wind.png" item-left />
            {{weather.current_observation.wind_mph}} mph
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="radar-wrapper">
        <ion-label>{{radarMessage}}</ion-label>
        <ion-toggle (ionChange)="toggleRadar()"></ion-toggle>
        <img *ngIf="radarVisible" class="radar" src={{radar.url}}/>
      </ion-row>
      <ion-row class="forecast-wrapper">
        <ion-label>{{forecastMessage}}</ion-label>
        <ion-toggle (ionChange)="toggleForecast()"></ion-toggle>
        <ion-row *ngIf="forecastVisible" class="forecast">
          <ion-list class="daily" *ngFor="let day of days">
            <ion-item-divider>{{weather.forecast.txt_forecast.forecastday[day].title}} <img class="weather-icon daily" src={{weather.forecast.txt_forecast.forecastday[day].icon_url}}/></ion-item-divider>
            <ion-item>{{weather.forecast.txt_forecast.forecastday[day].fcttext}}</ion-item>
          </ion-list>
        </ion-row>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
